body {
	background-color: #222222;
	color: #eeeeee;
	margin: 0;
	line-height:
}

A:link {
	color: #eeeeee;
}

A:visited {
	color: #eeeeee;
}

A:active {
	color: #eeeeee;
}

A:hover {
	text-decoration: underline;
	color: #eeeeee;
}

#PongControlArea {
	background-color: #333333;
	height: 100%;
	width: 100%;
}

#EvaderControlArea {
	background-color: #333333;
	height: 100%;
	width: 100%;
}

.PongControl {
	/* fix to make the size of the border go inwards instead*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
	height: 50%;
	width: 100%;
	border-style: solid;
	border-width: 2%;
	border-color: #aaaaaa;
	background-color: #666666;
	/*margin: 5%;
	padding: 20px;
	padding-top: 40px;
	padding-bottom: 40px;*/
	font-size: x-large;
	vertical-align: center;
	text-align: center;
	background-color: #666666;
	background-color: #666666;
	border-width: 5px;
	border-color: #aaaaaa;
}

.EvaderCommand {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
	float: top;
	height: 20%;
	width: 100%;
	border-style: solid;
	border-width: 2%;
	border-color: #aaaaaa;
	background-color: rgb(0, 200, 0);
	/*margin: 5%;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;*/
	font-size: x-large;
	vertical-align: center;
	text-align: center;
	border-width: 5px;
	border-color: #aaaaaa;
}

.EvaderDebug {
	float: bottom;
	font-size: small;
}

.EvaderControl {
	/* fix to make the size of the border go inwards instead*/
	/*-webkit-box-sizing: border-box; */ /* Safari/Chrome, other WebKit */
	/*-moz-box-sizing: border-box; */ /* Firefox, other Gecko */
	/*box-sizing: border-box; */ /* Opera/IE 8+ */
	float: left;
	margin: 10px;
	/*padding: 10px;*/
	height: 12%;
	width: 40%;
	font-family: monospace;
	border-style: solid;
	border-width: 2%;
	border-color: #aaaaaa;
	background-color: #666666;
	/*margin: 5%;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;*/
	/*font-size: large;*/
	line-height: 18px;
	vertical-align: middle;
	text-align: center;
	background-color: #666666;
	background-color: #666666;
	border-width: 5px;
	border-color: #aaaaaa;
	/*padding: 5px*/
}

.EvaderControlWide {
	width: 90%;
}

.EvaderSubControlText {
	float: top;
	width: 100%;
}

.EvaderSubControl {
	float: left;
	border-style: solid;
	width: 18%;
	border-width: 2%;
}

.EvaderSubControlActive {
	background: green;
}