not used right now,
can be used together with cherryd 

[global]
#environment: 'development'
log.error_file: 'site.log'
log.screen: True

server.socket_host:'192.168.1.33'
server.socket_port: 8080  
# # be root ot have 80 on *nix

#tree.cpapp: cherrypy.Application(cpapp.Root())
tree.gexusServer: cherrypy.Application(gexusServer.Gexus())

[/css/base.css]
tools.staticfile.on: True
tools.staticfile.filename: '/home/poseidon/dev/gexus/server/css/base.css'
